@media (max-width: 391px) {
    .container {
        max-width: 370px;
    }

    .projectView__name {
        margin-bottom: 6px;
    }

    .projectView__row {
        flex-direction: column;
    }

    .projectView__button:nth-child(2) {
        display: none;
    }

    .projectView__tasks {
        margin: 12px 0 0 0 !important;
    }

    .projectView__item {
        flex-direction: column;
        align-items: start;
    }

    .projectView__item-date {
        margin: 6px 0 !important;
    }

    .projectView__item-button {
        margin-left: 0 !important;
        margin-right: 12px !important;
    }

    .projectView__complete-button {
        top: 12px !important;
        right: 50px !important;
    }

    .projectView__delete-button {
        top: 12px !important;
        right: 20px !important;
    }

    .projectView__chart {
        display: block !important;
    }

    #timeChart {
        height: 100% !important;
        width: 100% !important;
    }
}